<launch>
    <rosparam file="$(find rov_control_non_feedback)/param/pid.yaml" command="load" ns="pid"/>
    <node name="joy" pkg="rov_control_non_feedback" type="joy.py"/>

    <node name="motion_control" pkg="rov_control_non_feedback" type="motion_control.py"/>

    <node name="calibration_node" pkg="rov_control_non_feedback" type="movement.py" output="screen">
    </node>

</launch>